<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/914592573190963310/932725845875908628/orangutan_icon.png">
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/lesson01">Lesson01</a></li>
<li><a href="/lesson02">Lesson02</a></li>
<li><a href="/lesson03">Lesson03</a></li>
<li><a href="/lesson04">Lesson04</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:huanying.yey@gmail.com" target="_blank" rel="noopener noreferrer">email</a></li>
   <li><a href="https://github.com/JoyYeh2002" target="_blank" rel="noopener noreferrer">github.com/JoyYeh2002</a></li>
   </ul>
  </footer>
  </body>

</html>
